@model TrabalhoWeb2.WSAula.Agenda
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NovoCompromisso</title>
    <link href="~/Media/Css/main.css" rel="stylesheet" />
</head>
<body>
    <main class="main">
        <div class="area-titulo">
            <h1 class="titulo">Cadastro de Compromisso</h1>
        </div>
        <span class="msg">
            @Html.ViewBag.MsgErro
            @Html.ViewBag.Msg
        </span>
        <section class="form">
            <form id="frmNovoCompromisso" method="post" action="~/Agenda/SalvarCompromisso">
                <fieldset>
                    <section class="form-group">
                        <div class="form-item">
                            @Html.TextBoxFor(n => n.Titulo, null, new { @class = "form-control", Autofocus = "true", required = "true", pattern = "[A-Za-z].{3,}", title = "Digite o título de seu compromisso!." })
                            @Html.LabelFor(n => n.Titulo, new { @class = "label-float" })
                        </div>
                        <div class="form-item">
                            @Html.TextBoxFor(n => n.DataCompromisso, null, new { @class = "form-control", type = "date", required = "true", title = "Digite a data de seu compromisso!." })
                            @Html.LabelFor(n => n.DataCompromisso, new { @class = "label-float" })
                        </div>
                        <div class="form-item">
                            @Html.TextAreaFor(n => n.Descricao, new { @class = "form-control inputarea", required = "true", title = "Digite a descriçao de seu compromisso aqui!." })
                            @Html.LabelFor(n => n.Descricao, new { @class = "label-float" })
                        </div>
                        <button class="botao" id="btnSubmit" type="submit">Salvar</button>
                        <button class="botao" type="reset">LimparCampos</button>
                        <span class="float-link">
                            @Html.ActionLink("« Cancelar Cadastro", "BoasVindas", null, new { @class = "link" })
                        </span>
                    </section>
                </fieldset>
            </form>
        </section>
    </main>


    <!-- Arquivos JavaScript -->
    @if (false)
    {
        <script src="~/Media/Script/jquery-2.1.4-vsdoc.js" defer></script>
    }
    <script src="~/Media/Script/jquery-2.1.4.min.js" defer></script>
    <script src="~/Media/Script/cadastrocompromisso.js" defer></script>

</body>
</html>
