@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ViewBag.MsgErro
        <br /><br /><br />
        <form method="post" id="frmLogin" action="~/Home/Login">
            @Html.Label("Usuário: ")
            @Html.TextBox("txtUsuario")
            <br />
            @Html.Label("Senha: ")
            @Html.Password("txtSenha")
            <br /><br />
            <input type="submit" value="Entrar" />
        </form>
        <br /><br />
        @Html.ActionLink("Novo Usuário","NovoUsuario")

    </div>
</body>
</html>
