@model TrabalhoWeb2.WSAula.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NovoUsuario</title>
    <link href="~/Media/Css/main.css" rel="stylesheet" />
</head>
<body>
    <main class="main">
        <div class="area-titulo">
            <h1 class="titulo">Cadastro</h1>
        </div>
        <span class="msg">
            <p>@Html.ViewBag.MsgErro</p>
            <p>@Html.ViewBag.Msg</p>
        </span>
        <section class="form">
            <form id="frmNovoUsuario" method="post" action="~/Home/salvarUsuario">
                <fieldset>
                    <section class="form-group">
                        <div class="form-item">
                            @Html.TextBoxFor(n => n.Nome, null, new { @class = "form-control", Autofocus = "true", required = "true", pattern = "[A-Za-z].{3,}", title = "Digite seu nome aqui." })
                            @Html.LabelFor(n => n.Nome, new { @class = "label-float" })
                        </div>
                        <div class="form-item">
                            @Html.TextBoxFor(n => n.Login, null, new { @class = "form-control", required = "true", pattern = "[A-Za-z].{3,}", title = "Digite o nome do usuário aqui." })
                            @Html.LabelFor(n => n.Login, new { @class = "label-float" })
                        </div>
                        <div class="form-item">
                            @Html.PasswordFor(n => n.Senha, new { @class = "form-control", required = "true", title = "Digite sua senha aqui." })
                            @Html.LabelFor(n => n.Senha, new { @class = "label-float" })
                        </div>
                        <div class="form-item">
                            @Html.Password("txtSenha02", null, new { @class = "form-control", id = "senhaValidacao", required = "true", title = "Confirme sua senha aqui." })
                            @Html.Label("Confirma Senha", new { @class = "label-float" })
                        </div>
                        <button class="botao" id="btnSubmit" type="submit">Salvar</button>
                        <button class="botao" type="reset">Limpar Campos</button>
                        <span class="float-link">
                            @Html.ActionLink("« Cancelar Cadastro", "Index", null, new { @class = "link" })
                        </span>
                    </section>
                </fieldset>
            </form>
        </section>
    </main>


    
    <!-- Arquivos JavaScript -->
    @if (false)
    {
        <script src="~/Media/Script/jquery-2.1.4-vsdoc.js" defer></script>
    }
    <script src="~/Media/Script/jquery-2.1.4.min.js" defer></script>
    <script src="~/Media/Script/cadastrousuario.js" defer></script>


</body>
</html>
